<p>Names List:{{this.fullnames.length }}</p>
<form name="names" #frm="ngForm">
   
  <div *ngFor="let username  of  fullnames; let i = index; trackBy:trackByFn" (ngModelChange)="movefocus($event)"  class="container-fluid" >
    <div class="row">
      <div class="col">
        <label > Enter Full Name Here#{{i}} </label>
      </div>
      <div class="col">
        <input type="text" [name]="'name_' + i" [id]="'name_' + i" #inputtext 
         [(ngModel)]='fullnames[i]'  />
      </div>
    </div>
   
     
  </div>
  <button class="btn-outline-primary" (click)="addNew()" >Add New name </button><br>
  <button class="btn btn-success" (click)="generateTable()" >generate Table</button>
</form>
<br />
 

<app-weekly-schedule [Config] ="config"></app-weekly-schedule>